@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #ffffff;
  --text: #0e1116;
}

html, body {
  height: 100%;
}

body {
  background: var(--bg);
  color: var(--text);
}

.scrollbar-thin::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #e1e4ea;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.container-narrow {
  max-width: 960px;
  margin: 0 auto;
}
